#page_wrapper {
  flex: 1;
  min-height: 0;
}

.book_wrapper {
  padding-bottom: 2em;
}

:root .table_of_contents, :root .book_wrapper {
  --table_of_contents_size: 25%;
}

.table_of_contents {
  height: 100%;
  display: inline-block;
  background-color: #27272f;
  position: relative;

  width: var(--table_of_contents_size);
  resize: horizontal;
  overflow-y: scroll;
  vertical-align: top;
  padding: 2em 0 2em 2em;
}

.table_of_contents * {
  padding: 0;
  font-weight: normal;
}

.table_of_contents a, .table_of_contents span, .table_of_contents span *  {
  text-decoration: none;
  color: white;
}

.table_of_contents a:hover {
  opacity: 0.4;
}

.section_list {
  list-style: none;
}

.section_list li {
  margin-top: 1em;
  margin-left: 2em;
  font-size: 0.9em;
}

.book_wrapper {
  left: var(--table_of_contents_size);
  display: inline-block;
  width: calc(100% - var(--table_of_contents_size));
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 2em 2em 2em 2em;
  vertical-align: top;
}

@media(max-width: 800px) {

  .table_of_contents {
    display: block;
    height: 30vh;
    width: 100%;
  }

  .book_wrapper {

    display: block;
    width: 100%;
    position: static;
    overflow-y: visible;
    margin: 0;

    padding: 2em 1em 2em 1em;
  }

}